@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Twitter Project</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           A Project to determine the location of a tweet in absence of concrete Spatial Data.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        
    </div>
    
</div>